@charset "UTF-8";


.container {
	position: relative;
	margin-top: -40px;
	width: 100%;
	height: 100vh;
}
.pageTitle{
	width: 100%;
	text-align: left;
	padding-left: 20px;
	padding-top: 60px;
	font-size: 1.86em;
	font-weight: bold;
}

.frame {
	padding-top: 40px;
	width: 100%;
	height: 100%;
	/*
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	
	*/
}

.frame_con{
	width: 100%;
	height: 100%;
	/*
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	*/
	
	
	
}


.frame_inner{
	width: 70%;
	height: 100%;
	
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
}
.frame_inner_Board{
	width: 90%;
	
	
	margin: 0 auto;
	padding: 20px;
	overflow: hidden;
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;

}

.page_number{
	text-align: center;
	position: relative;
	bottom: 3px;
	
}


.B_title{
	width: 100%;
	height: 10%;
	border: 1px solid black;
	
}
.B_Content{
	width: 100%;
	height: 90%;
	border: 1px solid black;
	background-color: blue;
	display: flex;
	flex-flow:row wrap;
}

.B_ContentImg{
	width:  33.3333%;
	height: 33.3333%;
	border: 1px solid black;
}



.imgBoard td{
	padding: 20px;
}

.imgBoardImg{

	width: 400px;
	
	height: 250px;
}




.cls2{
	text-align: center;
	padding: 20px;
}
.imgTitleTag{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-size: 1.43em;
	font-weight: bold;

}

.btnAll{
    width: 96px;
    height: 34px;
    vertical-align: middle;
    color: #fff !important;
    border: 0;
    text-align: center;
    background: #71847a;
}




.img_topTitle{
	width:100%;
	border-bottom: 2px solid #464646;

	padding-bottom: 10px;
	margin-bottom: 20px;
	float: left;
}

.img_topTitle span:nth-of-type(1) {
	font-size: 1.14em;
    font-family: "Noto_M";
    font-weight: bold;
    
}

.img_topTitle span:nth-of-type(2) {
	float: right;
    
}

.img_bigMain{
		padding-top:5px;
	float: left;
}
.img_MiniList{
	width:438px;
	height:444px;
	float: right;
	
}
.img_MiniList img{
	float: left;
	margin: 5px;
	/*
	margin-left: 10px;
	margin-bottom: 10px
	*/
}

.img_Content{
	width: 100%;
	clear: both;
	font-size: 20px;
	padding-left: 20px;
	
}
.img_Content :nth-of-type(1) {
	color: #8B4513;
	font-weight: bold;
	
}

.Content_btn{
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px solid #e5e5e5;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
}
.Content_btn div:nth-of-type(1){
	width: 80%;
	float: left;
}
.Content_btn_list{
	width: 20%;
	text-align: right;
	
}
.Content_btn_list *{
	margin-left: 10px; 
	
}
.Content_btn div:nth-of-type(3){
	width:100%;
	clear:both;
	text-align: center;
	padding-top: 20px;
	
}
.Content_btn div:nth-of-type(3) *{
	margin-left: 10px; 
}

.Content_btn input{
    width: 96px;
    height: 34px;
    line-height: 34px;
    color: #fff !important;
    border: 0;
    text-align: center;
    background: #71847a;
}

.insertBtn{
	width: 100%;
	text-align: right;
}
.insertBtn input{
	width: 96px;
    height: 34px;
    line-height: 34px;
    color: #fff !important;
    border: 0;
    text-align: center;
    background: #71847a;
}


.insertTable{

	margin-top:100px;
	width: 100%;
	border-collapse: collapse;
	background-color: white;
	
}
.insertTable *{
	
	padding: 0;
}
.insertTable th{
	width: 10%;
	border: none;
	background-color: gray;
	
}
.insertTable td{
	width: 90%;
	
}

.insertTable td *{
 width: 100%;
 
}

.insertTable tr, .insertTable th, .insertTable td{
	border: 1px solid black;

}

textarea{
	resize: none;
	border: none;
}

.boardStyle{
	border:none;
	height: 50px;
}
.insertPage{
		background-image: url(../img/img_sub_forest01.jpg);
}

.insert_bottom_btn{
	width: 100%;
	display: flex;
	flex-direction: row;
 	margin-top: 25px;
	justify-content:flex-end;
	text-align: right;
}

.insert_bottom_btn :nth-of-type(2){
	margin-right: 10px; 
	
}
.insert_bottom_btn :nth-of-type(1){
	margin-right: 10px; 
	
}