@charset "UTF-8";

/*여기가 내려 쓰는거. */
.container {
	position: relative;
	margin-top: -40px;
		width: 100%;
	height: 100vh;	
	
}

.sponsorGuide{
	padding-top: 40px; 	
	width: 100%;
	height: 100%;	
}


.sponsorGuide_con{
	width: 100%;
	height: 100%;
	background-image: url("../img/img_sub_sponsor.jpg");
	
}	


.con_frame{
	width: 100%;
	height: 100%;
	padding: 40px;	 
	
}
.con_frame_body{
	position: relative;
	width: 50%;
	height: 100%;
	overflow: hidden;
	background-color:antiquewhite;
	opacity:0.9;
	padding: 20px;
	
	
}



.con_frame_body h3{
	margin-bottom: 40px;
	font-size: 1.86em;
	font-family: "Noto_M";
}


.con_sponsor{
	width: 100%;
	height: 80%;
	
}


.con_sponsor h4{
    margin-bottom: 10px;
    font-size: 1.29em;
   font-family: "Noto_M";
}
.con_sponsor .cnt_txt{
	width: 100%;
	height: 270px;
	margin: 50px 0;	
}

.con_sponsor .cnt_txt .txt{
	display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.cnt_txt .txt span{
	display: block;
    margin-bottom: 5px;
    font-size: 1.14em;
    font-family: "Noto_M";
    color: #5e1012;
    font-weight: bold;
}

.con_sponsor ul {
    margin-bottom: 50px;
}


.btn_btm_center{

	width: 100%;
	position: absolute;
}
/* 버튼 */
.btn_apply{
	border: 0;
    width: 200px;
    height: 50px;
    background: #111;
    color: #fff;
    font-size: 1.43em;
	position: absolute;
	left: 45%;
 	transform: translateX(-45%);
}
/*
.con_frame_body_txt{
	width: 40%;
	height: 80%;
	background-color: black;
}
*/
	
/*  */
/*  */
/*  */
