@charset "UTF-8";

.container {
	position: relative;
}
.contact {
	margin-top: 40px;
}

.view_Hidden {
	width: 1080px;
	height: 360px;
	overflow: hidden;
	margin-bottom: 40px;
}

.contact_con {
	font-family: "Noto_B";
	margin-top: 20px;
	padding: 0 25px;
}

.contact_txt h3 {
	font-size: 1.86em;
	margin-bottom: 20px;
}

.contact_txt dl dt {
	font-family: "Noto_M";
	font-size: 1em;
	font-weight:bold;
}

.contact_txt dl dd{
	margin-bottom: 15px;
	font-size: 0.9em;
}