@charset "UTF-8";

.container {
	position: relative;
}

.forst_section.page01 {
	height: 700px;
	
	display: flex;
	flex-direction: row;
}

/*
main 페이지와 다르게 Forest 페이지가 좌우 2개로 나뉘어있지 않음. 
상하로 나눠진후 상에서 좌우로 나눠진 형태.
 
index는 좌우로 나눠져있으며 mainBody_1에 margin-top:-40px; height:100vh; 으로 걸려있음.
따라서 mainBody_1 자식인  lft_con_section는 100%만 줘도 공간 다 차지하는 거 
Forest는 좌우가 아닌 상하로 공간이 나눠져있음

-Forest.jsg에서
부모클래스 mainBody_1이 없으니 .lft_con 에서  margin-top :-40px;  여기다가 height 사이즈를 주면 안됨.
margin값까지 계산되서 height 100%로 되기 때문.

그래서 원래는 
height 100% + 40px로 해결했었는데 +5 +1도 다 됨  아무거나 하면 버그로 다 채워지나봄.

이 문제 밑의 방법으로 해결했음. 
forst_section page01클래스에  height사이즈 주고
forst_section page01 자식  lft_con 클래스에 margin-top : -40px; height 사이즈는 주지않기 . 
lft_con 자식 lft_con_img 클래스에서 height 100% 주면 
forst_section, lft_con 사이즈 합쳐서 100%이 됨.  

버그 문제.
.lft_con {
	margin-top: -40px;
	width: 40%;
	height: 100% + 40px;
	background-image: url(../img/img_sub_forest.jpg);
}

밑은 해결한 문제.
*/

.lft_con {
	margin-top: -40px;
	width: 40%;

}
.lft_con_img{
	width: 100%;
	height: 100%;
	background-image: url(../img/img_sub_forest.jpg);
}


.rgt_con {
	width: 60%;
	height: 100%;
	padding: 0 40px;
	padding-top: 180px;
	/* font-family: "Noto_M";*/
    color: #666;

}

.rgt_con p{
	/*font-family: "Noto_M";*/
	font-weight: 600;
	font-size: 1.21em;
}


.rgt_con span{
	display:block;
	margin-bottom: 100px;
    color: #5f7368;
    font-size: 2.5em;
    font-family: "Noto_B";
    
}


.forst_section.page02 {
	height: 969px;
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.fp_slides {
	width: 300%;
	height: 100%;
	position: absolute;
	left: 0px;
	transition: all ease 0.5s 0s;
}

.fp_slides_img {
	height: 100%;
	width: 33.3333%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	float: left;
}

.fp_slides_img:nth-of-type(1) {
	background-image: url(../img/img_sub_forest01.jpg);
}

.fp_slides_img:nth-of-type(2) {
	background-image: url(../img/img_sub_forest02.jpg);
}

.fp_slides_img:nth-of-type(3) {
	background-image: url(../img/img_sub_forest03.jpg);
}

/* 글자슬라이드*/
.fp_slides_letter {
	position: absolute;
	transition: all ease 0.5s 0s;
	width: 300%;
	height: 100%;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
}

.fp_slides_frame {
	position: relative;
	width: 33.3333%;
	height: 100%;
	float: left;
	font-family: "Noto_M";
}

.fp_slides_text {
	position: absolute;
	width: 423px;
	height: 100%;
	right: 20%;
	color: white;
	background-color: rgba(0,0,0,.6);
	padding: 0px 40px;
	padding-top: 200px;
	/* display: table-cell;*/
}

.fp_slides_text span{
	display:block;
	margin-bottom: 70px;
	font-size: 2em;
}
.fp_slides_text p{
	font-size: 1.14em;
}



/* 오른쪽 버튼 */
.forst_section_btn {
	width: 14px;
	height: 58px;
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.forst_section_btn ul li {
	width: 15px;
	height: 15px;
	margin: 10px 0px;
	cursor: pointer;
	
}
.forst_move{
	background-color: #ebebeb;
}


/* 밑 버튼 */
.bottom_btn {
	position: absolute;
	width: 190px;
	bottom: 70px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}

.bottom_btn ul {
	margin: 0px 10px;
}

.bottom_btn ul li {
	list-style-type: none;
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0px 2px;
	
}
.bottom_btn ul li:hover{
	background: red;
}


.bottom_btn_move {
	background-color: white;
	cursor: pointer;
}

/* 왼쪽버튼*/
.bottom_btn_lft {
	width: 28px;
	height: 28px;
	background-image: url(../img/btn_slide_left.png);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}
/* 오른쪽버튼 */
.bottom_btn_rgt {
	width: 28px;
	height: 28px;
	background-image: url(../img/btn_slide_right.png);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	background-image: url(../img/btn_slide_right.png);
}

/* 아마 우선순위 문제로 여기도 이렇게 정의해줘야함.*/
.clicked {
	background-color: red;
	
}