@charset "UTF-8";



/*
탑메뉴 밑부터 css 
구조
rgt_con_section > rgt_con_section_wrap > box_con_apply... > wrap_box_body

*/


/* 오른쪽 게시판 배경색, 패딩 등등 */
.rgt_con_section{
	padding: 20px;
	margin-bottom: -40px;
	width: 100%;
	height: 100%;
	background-color: rgb(241, 241, 241);
}

/* 오른쪽 게시판 플렉스 row로 전체 구성 -> 축 */
.rgt_con_section_wrap{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 100%;
	height: 100%;
	
}

/* 오른쪽 게시판 크기 48% 으로 4개 구성 */
.rgt_con_section_wrap *{
	width: 48%;
	height: 48%;
	
}

/* 오른쪽 메뉴판 지혜의숲 단체 방문안내 등등 5px으로 간격 나누기.  */
.rgt_con_section_wrap > div{
	margin: 5px;
	/*
	이거 안해도됨.
	display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    */
}

/* .box 지혜의숲 단체 방문안내 등 4개 (rgt_con_section_wrap 안에 4개로 구성된 게시판 맨위 이름)*/
.box{
	width: 100%;
	height: 11%;
	background-color: white;
	letter-spacing: -0.05em;
	padding-left: 20px; 
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;  
	font-family: "Noto_B";
 	text-align: left;
 	overflow: hidden;
}

/* .rgt_con_section_wrap .box 안의 폰트와 사이즈 
	이걸 안주면 창모드로 크기 줄였을때 글자가 사라지는 현상.
*/
.box h3{
	font-size: 1.26em;
	width: 100%;
}


/* .box 밑 내용 (rgt_con_section_wrap .box 밑의 내용) */
.wrap_box_body{	
	width: 100%;
	height: 89%;	
	background-color: white;
	vertical-align: middle;
	overflow:hidden;
	/* 이미지 잘리면서 꽉차게*/
}

/* 
	wrap_box_body 이미지 전체 크기 100%  
	참고로 4개 다 설정됨
*/
.wrap_box_body img{
	width:  100%;
	height: 100%;
	object-fit: cover;	
}
.linkbox{
	cursor: pointer;
}



/*
.wrap_box_body{
	width: 100%;
	height: 190px;
	padding: 20px;
	border-bottom: 1px solid #ebebeb;
	border: 1px solid black;
}
*/



/* box_conevent - events */
.wrap_box_body ul{
	/*
	border: 5px solid black;
	*/
	width: 100%;
	height: 100%
	
}

/* events쪽 190px으로 li사이 간격 줬음.*/
.wrap_box_body_evnets{
	padding: 20px;
	line-height: 100%;
	width: 100%;
	height: 190px;
	border-bottom: 1px solid #ebebeb;
}

.box_img{
	width: 108px;
	height: 140px;
	float: left;

}
/* 여기다가 auto를 줘야 창모드할때도 창이 따라 크기 조절됨. auto가 자동으로 되어있을텐데 꺼졌나봄 */
.box_txt{
	width: 50%;
	height: auto;
	max-width: 326px;
    min-width: 100px;
	padding-left: 10px;
	float: left;

}
.box_txt > .tit{
	width: 100%;
	float: left;
	font-size: 1.14em;
    line-height: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    letter-spacing: -0.1em;

}

.box_txt .disc{
	margin-top: 8px;
	width: 100%;
	float: left;
	overflow: hidden;
    height: 84px;
    margin-top: 8px;
    line-height: 14px;
    letter-spacing: -0.1em;

}


/* wrap_box_body_notice [li] */
.wrap_box_body_notice li{
	width: 100%;
	padding-left: 30px;
    height: 63px;
   	/*overflow: hidden;*/
	background: url(../img/bul_brd.gif) left 18px center;
    background-repeat: no-repeat;
	
}

.wrap_box_body_notice li:not(:first-child){
	 border-top: 1px solid #ebebeb;
}

.wrap_box_body_notice div{
	width: 100%;
	height: 100%;
	display: block;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	line-height: 63px;
	overflow: hidden;
	color: black;
}


.wrap_box_body_notice .tit{
	
	height: 100%;
	width: 80%;

}
.wrap_box_body_notice .data{
	
	height: 100%;
	width: 20%;
	padding-right: 20px;
}



